<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.sequence.HistorySequenceMapper">
  <resultMap id="BaseResultMap" type="com.web.pojo.PO.sequence.HistorySequencePO">
    <!--@mbg.generated-->
    <!--@Table final_history_sequence-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sequence_id" jdbcType="INTEGER" property="sequenceId" />
    <result column="sequence_redis_uuid" jdbcType="VARCHAR" property="sequenceRedisUuid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sequence_id, sequence_redis_uuid, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from final_history_sequence
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from final_history_sequence
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.web.pojo.PO.sequence.HistorySequencePO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into final_history_sequence (sequence_id, sequence_redis_uuid, create_time
      )
    values (#{sequenceId,jdbcType=INTEGER}, #{sequenceRedisUuid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.web.pojo.PO.sequence.HistorySequencePO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into final_history_sequence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceId != null">
        sequence_id,
      </if>
      <if test="sequenceRedisUuid != null">
        sequence_redis_uuid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceId != null">
        #{sequenceId,jdbcType=INTEGER},
      </if>
      <if test="sequenceRedisUuid != null">
        #{sequenceRedisUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.PO.sequence.HistorySequencePO">
    <!--@mbg.generated-->
    update final_history_sequence
    <set>
      <if test="sequenceId != null">
        sequence_id = #{sequenceId,jdbcType=INTEGER},
      </if>
      <if test="sequenceRedisUuid != null">
        sequence_redis_uuid = #{sequenceRedisUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.PO.sequence.HistorySequencePO">
    <!--@mbg.generated-->
    update final_history_sequence
    set sequence_id = #{sequenceId,jdbcType=INTEGER},
      sequence_redis_uuid = #{sequenceRedisUuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-05-31-->
  <select id="selectSequenceRedisUuidById" resultType="java.lang.String">
        select sequence_redis_uuid
        from final_history_sequence
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-05-31-->
  <select id="selectSequenceRedisUuidBySequenceId" resultType="java.lang.String">
    select sequence_redis_uuid
    from final_history_sequence
    where sequence_id=#{sequenceId,jdbcType=INTEGER}
    order by create_time desc
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-31-->
  <select id="selectSequenceHistoryOwnerBOByCreateTimeLessThan" resultType="com.web.pojo.BO.sequence.SequenceHistoryOwnerBO">
        select sequence_id,sequence_owner_id,sequence_redis_uuid
        from final_history_sequence,final_sequence
        where final_history_sequence.create_time <![CDATA[<]]> #{maxCreateTime,jdbcType=TIMESTAMP} and final_history_sequence.sequence_id=final_sequence.id
    </select>

<!--auto generated by MybatisCodeHelper on 2022-05-31-->
  <delete id="deleteBySequenceIdIn">
    delete from final_history_sequence
    where sequence_id in
    <foreach item="item" index="index" collection="sequenceIdCollection"
             open="(" separator=",️" close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-06-01-->
  <delete id="deleteBySequenceRedisUuidIn">
    delete from final_history_sequence
    where sequence_redis_uuid in
    <foreach item="item" index="index" collection="sequenceRedisUuidCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>